<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>HTMX</title>
		<link
			rel="stylesheet"
			href="styles.css"
		/>
	</head>
	<body>
		<script
			defer
			src="https://unpkg.com/htmx.org@1.9.10"
		></script>
		<script
			defer
			src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"
		></script>
		<script
			defer
			src="https://unpkg.com/mustache@latest"
		></script>
		<header hx-ext="client-side-templates">
			<button
				hx-get="https://hn.algolia.com/api/v1/search_by_date?tags=story"
				hx-trigger="click delay:2s"
				hx-target="#results"
				hx-swap="delete"
				hx-indicator=".loader"
				hx-disabled-elt="this"
				mustache-template="template-results"
			>
				<!-- hx-trigger="load" cuando se carga la página. Por default es click -->
				Click Me
			</button>
			<button
				hx-get="https://hn.algolia.com/api/v1/search_by_date?tags=story"
				hx-trigger="click[ctrlKey]"
				hx-target="#results"
				hx-indicator=".loader"
				hx-disabled-elt="this"
				mustache-template="template-results"
			>
				Control Click me
			</button>
			<button
				hx-get="https://hn.algolia.com/api/v1/search_by_date?tags=story"
				hx-trigger="click"
				hx-target="#results"
				hx-swap="beforeend"
				hx-indicator=".loader"
				hx-disabled-elt="this"
				mustache-template="template-results"
			>
				Click me beforeend
			</button>
			<div class="container">
				<span class="htmx-indicator loader"></span>
				<!-- hx-swap por default es innerHTML -->
				<!-- hx-swap outerHTML sustituirá el ul por completo -->
				<ul id="results">
					<li>Aquí irán los resultados before end</li>
					<!-- los insertará después del li no sustituirá el innerHTML -->
				</ul>
				<template id="template-results">
					{{#hits}}
					<li>
						<a href="{{url}}">{{title}}</a>
					</li>
					{{/hits}}
				</template>
			</div>
		</header>
	</body>
</html>
