:root {
	--primary-color: #14b8a6;
	--secondary-color: #0f0d0e;
	--loader-size: 16px;
	--border-width: 2px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

header {
	padding: 2rem;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

ul li:not(:last-child),
ol li:not(:last-child) {
	margin-bottom: 1rem;
}

li {
	max-width: 30rem;
	text-wrap: balance; /* https://developer.chrome.com/docs/css-ui/css-text-wrap-balance?hl=es-419 */
}

.loader {
	width: var(--loader-size);
	height: var(--loader-size);
	display: inline-block;
	position: relative;
}
.loader::after,
.loader::before {
	content: '';
	box-sizing: border-box;
	width: var(--loader-size);
	height: var(--loader-size);
	border: var(--border-width) solid var(--secondary-color);
	position: absolute;
	left: 0;
	top: 0;
	animation: rotation 2s ease-in-out infinite alternate;
}
.loader::after {
	border-color: var(--primary-color);
	animation-direction: alternate-reverse;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.container {
	display: flex;
	flex-direction: column;
}

button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
	pointer-events: none;
}

button {
	transition: opacity 0.3s;
}
